<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Tecnológica</title>

    https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css

    <style>
        body {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    {{ url_for('inicio') }}Inicio</a>
    <div class="navbar-nav">
        {{ url_for('productos') }}Productos</a>
        {{ url_for('about') }}Acerca de</a>
        {{ url_for('formulario_producto') }}Agregar Producto</a>
        {{ url_for('contactos') }}Contacto</a>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.jsscript>
</body>
</html>