{% extends "base.html" %}
{% block content %}

<h2>Agregar Producto</h2>

<form method="POST" class="card p-4 bg-white shadow">
<label>Nombre</label>
<input class="form-control mb-2" name="nombre">

<label>Precio</label>
<input type="number" class="form-control mb-2" name="precio">

<label>Stock</label>
<input type="number" class="form-control mb-2" name="stock">

<button class="btn btn-success">Guardar</button>
{{ url_for('productos') }} class="btn btn-secondary">Volver</a>
</form>

{% endblock %}
